
* {
    margin: 0;
    padding: 0;
}

.left img {
    width: 100%;
}

.left ul {
    margin: 0;
    padding: 0;
    text-align: center;
}
.left ul li {
    display: inline-block;
    margin: 10px;
    cursor: pointer;
}
ion-icon {
    color: #333;
    cursor: pointer;
}
ion-icon:hover {
    color: #111111;
}

.right h1 {
    text-align: center;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 500;
    margin-top: 30px;
}
.right h2 {
    text-align: center;
    font-size: 15px;
    color: #333;
    font-family: 'Red Hat Display', sans-serif;
}
.right p {
    margin: 2.4em 1.5em;
    font-family: 'Red Hat Display', sans-serif;
}
.right .work {
    min-height: 200px;
}
.work h1 {
    margin: 20px;
}

.work .one, .work .two, .work .three, .work .four {
    width: 80%;
    margin: auto;
}
.one img, .two img, .three img, .four img {
    width: 100%;
}


@media(min-width:768px){
    .right h1 {
        font-size: 40px;
    }
    .right h2 {
        font-size: 20px;
    }
    .right p {
        margin: 2.4em 5.5em;
    }
    .work {
        width: 80%;
        margin: auto;
    }
    .work .one, .work .two, .work .three, .work .four {
        width: 25%;
        float: left;
    }
    .one img, .two img, .three img, .four img {
        width: 100%;
        margin: auto;
    }
}
@media(min-width:1024px){
    .right p {
        margin: 2.4em 10.5em;
    }
}

@media(min-width:1365px) {
    .left {
        float: right;
        width: 50%;
        height: 100vh;
    }
    .right {
        float: left;
        width: 50%;
        height: 100vh;
    }
    .work h2 {
        font-size: 15px;
    }
    .right p {
        margin: 2.4em 5.5em;
    }

    .work {
        width: 80%;
    }
}

@media(min-width:2530px){
    .right p {
        margin: 2.4em 10.5em;
    }
}
