
* {
    margin: 0;
    padding: 0;
}
.left {
    background: #111;
}

.left img {
    width: 100%;
}

.left ul {
    margin: 0;
    padding: 0;
    text-align: center;
}
.left ul li {
    display: inline-block;
    margin: 10px;
    cursor: pointer;
}
ion-icon {
    color: #eee;
    cursor: pointer;
    font-size: 25px;
}
ion-icon:hover {
    color: #010101;
}

.right h1 {
    text-align: center;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 500;
    margin-top: 30px;
}
.right h2 {
    text-align: center;
    font-size: 15px;
    color: #333;
    font-family: 'Red Hat Display', sans-serif;
}
.right p {
    margin: 2.4em 1.5em;
    font-family: 'Red Hat Display', sans-serif;
}
.right .work {
    min-height: 200px;
}
.right .work h1 {
    margin: 20px;
    font-size: 20px;
}

div.one .two .three .four .five {
    text-align: center;
}
.right .work h2 {
    font-size: 14px;
    margin: 25px 0 5px 0;
}

.work ul {
    margin: 0;
    padding: 0;
}
.work ul li {
    display: inline-block;
    text-decoration: beige;
    margin-bottom: 20px;
}

.work .one, .work .two, .work .three, .work .four, .work .five {
    width: 100%;
    margin: auto;
}
.work ul {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 12px;
}
.work .one {
    list-style: none;
    display: inline-block;
}
.work ion-icon {
    color: #ccc;
    font-size: 15px;
}
.work ion-icon:hover {
    color: #777;
}
.one img, .two img, .three img, .four img, .five img {
    width: 100%;
}

/* ============ MEDIA ============ */
@media(min-width:768px){
    .right h1 {
        font-size: 40px;
    }
    .right h2 {
        font-size: 20px;
    }
    .right p {
        margin: 2.4em 5.5em;
    }
    .work {
        width: 80%;
        margin: auto;
    }
    .work .one, .work .two, .work .three, .work .four, .work .five {
        width: 20%;
        float: left;
    }
    .one img, .two img, .three img, .four img, .five img {
        width: 100%;
        margin: auto;
    }
}
@media(min-width:1024px){
    .right p {
        margin: 2.4em 10.5em;
    }
}

@media(min-width:1257px) {
    .left {
        float: right;
        width: 50%;
        height: 100vh;
    }
    .right {
        float: left;
        width: 50%;
        height: 100vh;
    }
    .work h2 {
        font-size: 15px;
    }
    .right p {
        margin: 1.4em 5.5em;
    }

    .work {
        width: 80%;
    }
}

@media(min-width:2530px){
    .right p {
        margin: 2.4em 10.5em;
    }
}
